.search-input {
  width: 220px;
  height: 35px;
  border: 1px solid rgba(128, 128, 128, 0.87);
}

.search-input::placeholder {
  color: rgb(155, 153, 153);
  font-size: 0.8rem;
  font-weight: bold;
}
