.table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
  align-items: center;
  margin: 0 auto;
}

.trHead th {
  padding: 20px;
  width: 20%;
  font-weight: 600;
  font-size: 20px;
}

.trBody {
  height: 80px;
}

.trBody td {
  padding: 3px;
}

.list-btn-box {
  width: 200px;
  height: 50px;
  display: flex;
}

.delete-btn {
  width: 40%;
  height: 40px;
  display: inline-block;
  margin: 0 auto;
  display: inline-block;
  top: 50%;
  transform: translateY(40%);
  border: none;
  color: white;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: bold;
  background-color: orange;
  cursor: pointer;
}
.list-footer {
  position: fixed;
  bottom: 120px;
  left: 35px;
  width: 100%;
}

@media (max-width: 1460px) {
  .list-footer {
    position: fixed;
    bottom: 80px;
    left: -10px;
    width: 100%;
  }
}

@media (max-width: 1150px) {
  .trHead th {
    width: 25%;
    font-size: 17px;
  }

  .list-btn-box {
    width: 200px;
  }

  .delete-btn {
    margin: 5px 5px;
  }
}

@media (max-width: 825px) {
  .table {
    display: none;
  }
  .list-footer {
    display: none;
  }
}
