.table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}

.trHead th {
  padding: 20px;
  width: 20%;
  font-weight: 600;
  font-size: 20px;
}

.trBody td {
  padding: 3px;
}

.list-btn-box {
  width: 250px;
  height: 50px;
  display: flex;
}

.edit-btn {
  width: 40%;
  margin: 5px 20px;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  background-color: orange;
  cursor: pointer;
}

.delete-btn {
  width: 40%;
  margin: 5px 20px;
  border: none;
  color: white;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: bold;
  background-color: orange;
  cursor: pointer;
}

@media (max-width: 1150px) {
  .trHead th {
    width: 25%;
    font-size: 17px;
  }

  .list-btn-box {
    width: 200px;
  }

  .edit-btn {
    margin: 5px 5px;
  }

  .delete-btn {
    margin: 5px 5px;
  }
}

@media (max-width: 825px) {
  .table {
    display: none;
  }
}
