.login-container {
  background-image: url(https://cdn.pixabay.com/photo/2016/03/26/13/09/workspace-1280538_960_720.jpg);
  display: flex;
  background-size: cover;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.login-form {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 70vh;
  width: 30vw;
  background-color: rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(8.5px);
  border-radius: 10px;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

.form-title {
  margin: 4rem 0 2rem 0;
  letter-spacing: 0.4rem;
}

.form-title-link {
  text-decoration: none;
  color: #8b4f1d;
  text-transform: none;
}

.input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 20%;
  width: 100%;
}

.keep-container {
  width: 65%;
  margin-bottom: 20px;
}

.login-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 1rem 0 2rem 0;
}

.otherlogin-title {
  cursor: pointer;
}

.boundary {
  width: 90%;
  height: 0.3rem;
  border-radius: 0.8rem;
  border: none;
  margin: 1.5rem 0 1rem 0;
  background: linear-gradient(to right, #101461 2%, #3355bb 65%);
  backdrop-filter: blur(25px);
}

.otherlogin-container {
  display: flex;
  justify-content: space-evenly;
  margin: 3rem 0 2rem 0;
  width: 100%;
}

.service-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  cursor: pointer;
  text-decoration: none;
}

.signup-link {
  text-decoration-line: none;
  color: white;
}

@media screen and (max-width: 1180px) {
  .login-form {
    height: 70vh;
    width: 40vw;
  }

  .forget-password {
    padding-right: 30px;
  }
}

@media screen and (max-width: 760px) {
  .login-form {
    height: 70vh;
    width: 70vw;
  }

  .service-container {
    font-size: 0.8rem;
  }
}
