* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Permanent Marker";
  src: url("./assets/fonts/PermanentMarker-Regular.ttf");
  font-family: "Merriweather", serif;
  src: url("./assets//fonts//Merriweather-Bold.ttf");
}
