.category {
  position: absolute;
  margin: 70px 100px;
  border-radius: 5px;
  border: 1px solid #909090;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
  background: #fff;
  overflow: hidden;
  z-index: 10;
}

.category #CE7 {
  list-style: none;
  width: 200px;
  border-right: 1px solid #acacac;
  padding: 6px 0;
  text-align: center;
  cursor: pointer;
  font-weight: bold;
}

.category #CE7 span {
  display: block;
  margin: 0 auto 3px;
  width: 27px;
  height: 28px;
}
.category #CE7 .category_bg {
  background: url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/places_category.png)
    no-repeat;
}

.category #CE7 .cafe {
  background-position: -10px -144px;
}

.category #CE7.on .category_bg {
  background-position-x: -46px;
}
